In [0]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
#!ls "/content/drive/My Drive"

In [0]:
data=pd.read_csv('/content/drive/My Drive/blogtext.csv').dropna()

In [5]:
data.head(2)

        id  ...                                               text
0  2059027  ...             Info has been found (+/- 100 pages,...
1  2059027  ...             These are the team members:   Drewe...

[2 rows x 7 columns]

In [6]:
data.shape

(681284, 7)

In [0]:
#df1=df.groupby(('id','gender','age','topic','sign'))['text'].agg(','.join).reset_index()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  """Entry point for launching an IPython kernel.

Selecting 25,000 records from the data, taking into account the processing capability of the systme

In [0]:
df=data.iloc[:25000,0:]

In [8]:
df.shape

(25000, 7)

Import  NLTK and other libraries for performing pre-processing of data

In [9]:
import nltk
import string
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
nltk.download('punkt')
nltk.download('wordnet')
import re
import unicodedata
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

# Define a function that will perform pre processing 
1. Stop Word removal
2. Remove Special Characters and unwanted spaces 
3. Punctuation removal
4. Convert all characters to lower case 

# ** Disclosure: I am re-using this function from code snippet found on stack overflow at the following link*
https://stackoverflow.com/questions/54396405/how-can-i-preprocess-nlp-text-lowercase-remove-special-characters-remove-numb/54398984

In [0]:
import nltk
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer,PorterStemmer
from nltk.corpus import stopwords
import re
lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer() 

def preprocess(sentence):
    sentence=str(sentence)
    sentence = sentence.lower()
    sentence=sentence.replace('{html}',"") 
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', sentence)
    rem_url=re.sub(r'http\S+', '',cleantext)
    rem_num = re.sub('[0-9]+', '', rem_url)
    tokenizer = RegexpTokenizer(r'\w+')
    tokens = tokenizer.tokenize(rem_num)  
    filtered_words = [w for w in tokens if len(w) > 2 if not w in stopwords.words('english')]
    stem_words=[stemmer.stem(w) for w in filtered_words]
    lemma_words=[lemmatizer.lemmatize(w) for w in stem_words]
    return " ".join(filtered_words)

In [0]:
df['text']=df['text'].map(lambda s:preprocess(s))

In [121]:
df.head(2)

        id  ...                label
0  2059027  ...  male,15,Student,Leo
1  2059027  ...  male,15,Student,Leo

[2 rows x 8 columns]

In [122]:
df.shape

(25000, 8)

In [123]:
df.dtypes

id         int64
gender    object
age        int64
topic     object
sign      object
date      object
text      object
label     object
dtype: object

In [0]:
#df1['age'] = df1['age'].apply(str)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
#df1.groupby(['gender']).count()

          age  topic   sign   text
gender
female  46642  46642  46642  46642
male    53358  53358  53358  53358

# Merge Label columns

In [0]:
df['label']=df['gender'].astype(str)+','+df['age'].astype(str)+','+df['topic'].astype(str)+','+df['sign'].astype(str)

In [125]:
df.head(2)

        id  ...                label
0  2059027  ...  male,15,Student,Leo
1  2059027  ...  male,15,Student,Leo

[2 rows x 8 columns]

In [0]:
df1 = df.iloc[:,6:8]

In [127]:
df1.head()

                                                text                               label
0  info found pages pdf files wait untill team le...                 male,15,Student,Leo
1  team members drewes van der laag urllink mail ...                 male,15,Student,Leo
2  het kader van kernfusie aarde maak eigen water...                 male,15,Student,Leo
3                                    testing testing                 male,15,Student,Leo
4  thanks yahoo toolbar capture urls popups means...  male,33,InvestmentBanking,Aquarius

In [128]:
df1.shape

(25000, 2)

Convert 'label' into string and store as a seperate column

In [0]:
def func1(label):
  label=str(label)
  return label.split(',')
df1['label2']= df1['label'].map(lambda x: func1(x))

In [130]:
df1.head(2)

                                                text  ...                    label2
0  info found pages pdf files wait untill team le...  ...  [male, 15, Student, Leo]
1  team members drewes van der laag urllink mail ...  ...  [male, 15, Student, Leo]

[2 rows x 3 columns]

#Split data into Training and Test

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df1.text, df1.label2,test_size=0.33, random_state=2)

In [132]:
print(x_train.shape)
print(y_train.shape)

(16750,)
(16750,)

In [133]:
print(x_test.shape)
print(y_test.shape)

(8250,)
(8250,)

In [134]:
y_train.head(2)

202     [female, 37, indUnk, Aquarius]
1213        [male, 17, Student, Virgo]
Name: label2, dtype: object

In [135]:
y_test.head(2)

15050    [male, 23, Communications-Media, Cancer]
9386                   [male, 16, indUnk, Cancer]
Name: label2, dtype: object

# Vectorize the Features

In [0]:
from sklearn.feature_extraction.text import CountVectorizer

In [0]:
cvect = CountVectorizer(ngram_range=(1,2))

In [0]:
# create document-term matrices
x_train_ct = cvect.fit_transform(x_train)
x_test_ct = cvect.transform(x_test)

In [223]:
len(cvect.vocabulary_)

1128780

In [224]:
cvect.vocabulary_

{'never': 660282,
 'ceases': 147030,
 'amaze': 29891,
 'wonderful': 1099453,
 'steven': 928462,
 'farm': 326911,
 'middle': 616722,
 'nowhere': 675367,
 'half': 423813,
 'mile': 618507,
 'long': 568272,
 'driveway': 268153,
 'quiet': 777033,
 'secluded': 849776,
 'beautiful': 81366,
 'mention': 612468,
 'steve': 928376,
 'man': 591770,
 'planet': 735151,
 'glad': 392342,
 'decided': 233151,
 'stick': 928677,
 'stay': 926143,
 'together': 1004185,
 'looks': 572064,
 'like': 550769,
 'going': 396688,
 'told': 1005177,
 'finally': 340291,
 'admit': 11306,
 'three': 991376,
 'years': 1118727,
 'love': 576562,
 'want': 1064332,
 'life': 547679,
 'asked': 54936,
 'thought': 989226,
 'said': 831323,
 'damn': 221782,
 'time': 995902,
 'lol': 567311,
 'patience': 712977,
 'perserveres': 721944,
 'good': 400277,
 'girl': 388775,
 'wins': 1094100,
 'end': 287582,
 'get': 382831,
 'much': 640296,
 'better': 91951,
 'never ceases': 660416,
 'ceases amaze': 147031,
 'amaze wonderful': 29910,
 'wonderful steven': 1099705,
 'steven farm': 928481,
 'farm middle': 326938,
 'middle nowhere': 616867,
 'nowhere half': 675399,
 'half mile': 424095,
 'mile long': 618527,
 'long driveway': 568491,
 'driveway quiet': 268179,
 'quiet secluded': 777180,
 'secluded beautiful': 849777,
 'beautiful mention': 81580,
 'mention steve': 612684,
 'steve wonderful': 928457,
 'wonderful man': 1099618,
 'man planet': 592608,
 'planet glad': 735192,
 'glad decided': 392398,
 'decided stick': 233644,
 'stick stay': 928830,
 'stay together': 926501,
 'together looks': 1004555,
 'looks like': 572236,
 'like going': 552573,
 'going together': 398485,
 'together long': 1004551,
 'long told': 569122,
 'told finally': 1005468,
 'finally decided': 340408,
 'decided admit': 233160,
 'admit three': 11514,
 'three years': 991894,
 'years admit': 1118736,
 'admit love': 11432,
 'love want': 578513,
 'want life': 1065112,
 'life asked': 547769,
 'asked thought': 55459,
 'thought said': 990092,
 'said damn': 831635,
 'damn time': 222230,
 'time lol': 997425,
 'lol patience': 567618,
 'patience perserveres': 713022,
 'perserveres good': 721945,
 'good girl': 400997,
 'girl wins': 389502,
 'wins end': 1094116,
 'end lol': 288072,
 'lol life': 567540,
 'life get': 548356,
 'get much': 384529,
 'much better': 640454,
 'better lol': 92529,
 'today': 1002166,
 'pretty': 756999,
 'uneventful': 1035143,
 'wake': 1061551,
 'early': 274415,
 'morning': 633678,
 'dads': 220922,
 'old': 683795,
 'shop': 871980,
 'north': 672036,
 'miami': 615862,
 'place': 732993,
 'called': 132696,
 'aamco': 362,
 'kind': 515650,
 'funny': 373056,
 'even': 300939,
 'though': 987977,
 'dad': 220236,
 'actually': 7984,
 'work': 1102293,
 'use': 1045494,
 'whatever': 1086401,
 'wants': 1066765,
 'guy': 418749,
 'owns': 700171,
 'still': 929197,
 'pays': 714710,
 'week': 1077513,
 'reason': 792378,
 'well': 1081341,
 'probably': 760062,
 'since': 882455,
 'fucking': 369762,
 'gangster': 377057,
 'likely': 556015,
 'owes': 699908,
 'money': 630058,
 'shit': 870184,
 'paying': 714500,
 'slowly': 893024,
 'till': 995390,
 'asks': 55802,
 'favor': 329089,
 'hands': 426385,
 'tells': 972560,
 'pick': 727825,
 'sister': 885463,
 'friend': 364856,
 'house': 461243,
 'drive': 267348,
 'sheridan': 868895,
 'street': 936488,
 'minute': 622248,
 'one': 685813,
 'way': 1072397,
 'exhausted': 312456,
 'begin': 85068,
 'really': 790235,
 'shitty': 870832,
 'part': 707476,
 'back': 67873,
 'got': 403484,
 'lost': 573857,
 'starts': 924208,
 'poor': 745008,
 'cats': 145355,
 'dogs': 258845,
 'sucked': 945063,
 'ended': 288649,
 'call': 131758,
 'figure': 337768,
 'hate': 432673,
 'high': 446324,
 'sometimes': 903281,
 'descriptive': 241675,
 'enough': 292230,
 'sign': 879415,
 'say': 838527,
 'already': 25029,
 'saying': 840404,
 'road': 820257,
 'start': 922158,
 'completely': 185888,
 'different': 248115,
 'direction': 251053,
 'confusing': 190806,
 'maybe': 603360,
 'dumb': 271769,
 'knows': 523466,
 'anyway': 41802,
 'home': 452624,
 'take': 959863,
 'nap': 649648,
 'fine': 342663,
 'problems': 761501,
 'lots': 575587,
 'conversation': 197067,
 'boring': 110511,
 'close': 170994,
 'chris': 162093,
 'comes': 179630,
 'drawer': 264659,
 'short': 872676,
 'understand': 1033745,
 'happen': 427753,
 'happened': 428238,
 'news': 663327,
 'made': 584057,
 'tip': 1000406,
 'cup': 216596,
 'night': 666772,
 'gave': 378491,
 'would': 1108751,
 'cover': 207674,
 'rest': 810949,
 'god': 394560,
 'suck': 944858,
 'wow': 1111019,
 'exciting': 311558,
 'day': 226723,
 'hope': 456116,
 'somehow': 900259,
 'talk': 962644,
 'rich': 815447,
 'new': 661450,
 'general': 380492,
 'manager': 593451,
 'store': 933477,
 'making': 590234,
 'come': 178314,
 'tomorrow': 1006716,
 'wishes': 1095397,
 'self': 857407,
 'luck': 580497,
 'welp': 1083776,
 'next': 664113,
 'today pretty': 1003352,
 'pretty damn': 757107,
 'damn uneventful': 222244,
 'uneventful wake': 1035173,
 'wake early': 1061598,
 'early morning': 274647,
 'morning dads': 633862,
 'dads old': 220946,
 'old shop': 684620,
 'shop north': 872098,
 'north miami': 672091,
 'miami place': 615913,
 'place called': 733120,
 'called aamco': 132698,
 'aamco kind': 363,
 'kind funny': 515958,
 'funny even': 373235,
 'even though': 302571,
 'though dad': 988220,
 'dad actually': 220239,
 'actually work': 9011,
 'work use': 1103859,
 'use shop': 1046197,
 'shop whatever': 872180,
 'whatever wants': 1086800,
 'wants guy': 1066907,
 'guy owns': 419359,
 'owns place': 700199,
 'place still': 733872,
 'still pays': 930257,
 'pays week': 714731,
 'week reason': 1078286,
 'reason well': 793037,
 'well probably': 1082896,
 'probably reason': 760634,
 'reason since': 792920,
 'since dads': 882715,
 'dads fucking': 220935,
 'fucking gangster': 369904,
 'gangster likely': 377060,
 'likely owes': 556151,
 'owes money': 699913,
 'money shit': 630619,
 'shit paying': 870504,
 'paying slowly': 714592,
 'slowly lol': 893121,
 'lol till': 567734,
 'till dad': 995442,
 'dad asks': 220263,
 'asks favor': 55823,
 'favor hands': 329110,
 'hands tells': 426751,
 'tells pick': 972673,
 'pick sister': 728163,
 'sister friend': 885590,
 'friend house': 365256,
 'house drive': 461504,
 'drive sheridan': 267703,
 'sheridan street': 868896,
 'street like': 936645,
 'like good': 552582,
 'good minute': 401415,
 'minute drive': 622301,
 'drive one': 267630,
 'one way': 689202,
 'way exhausted': 1072985,
 'exhausted begin': 312459,
 'begin really': 85235,
 'really shitty': 791654,
 'shitty part': 870879,
 'part way': 708449,
 'way back': 1072521,
 'back got': 68652,
 'got fucking': 404307,
 'fucking lost': 369974,
 'lost starts': 574335,
 'starts poor': 924344,
 'poor like': 745158,
 'like cats': 551419,
 'cats dogs': 145379,
 'dogs poor': 258979,
 'poor sucked': 745255,
 'sucked ended': 945093,
 'ended call': 288698,
 'call dad': 131934,
 'dad figure': 220397,
 'figure hate': 337903,
 'hate high': 432970,
 'high way': 446760,
 'way sometimes': 1073994,
 'sometimes descriptive': 903408,
 'descriptive enough': 241680,
 'enough like': 292707,
 'like one': 553778,
 'one sign': 688608,
 'sign say': 879628,
 'say north': 839626,
 'north street': 672127,
 'street already': 936494,
 'already going': 25299,
 'going north': 397867,
 'north sign': 672120,
 'sign saying': 879629,
 'saying road': 840797,
 'road going': 820391,
 'going start': 398347,
 'start going': 922444,
 'going completely': 397025,
 'completely different': 185979,
 'different direction': 248272,
 'direction one': 251143,
 'one going': 687130,
 'going confusing': 397034,
 'confusing maybe': 190844,
 'maybe dumb': 603618,
 'dumb knows': 271838,
 'knows anyway': 523481,
 'anyway get': 42133,
 'get home': 384043,
 'home take': 453795,
 'take nap': 960586,
 'nap work': 649725,
 'work work': 1103941,
 'work fine': 1102825,
 'fine problems': 342924,
 'problems lots': 761675,
 'lots conversation': 575638,
 'conversation boring': 197098,
 'boring close': 110553,
 'close chris': 171055,
 'chris comes': 162123,
 'comes tells': 180167,
 'tells fucking': 972616,
 'fucking drawer': 369868,
 'drawer short': 264674,
 'short understand': 873039,
 'understand happen': 1033957,
 'happen never': 428009,
 'never happened': 660714,
 'happened well': 428749,
 'well good': 1082157,
 'good news': 401471,
 'news made': 663611,
 'made tip': 585211,
 'tip cup': 1000416,
 'cup night': 216657,
 'night made': 667622,
 'made gave': 584539,
 'gave three': 378965,
 'three said': 991767,
 'said would': 832856,
 'would cover': 1109128,
 'cover rest': 207833,
 'rest time': 811373,
 'time god': 996974,
 'god damn': 394771,
 'damn suck': 222207,
 'suck lol': 944960,
 'lol wow': 567787,
 'wow exciting': 1111091,
 'exciting day': 311580,
 'day hope': 227578,
 'hope somehow': 456741,
 'somehow talk': 900495,
 'talk rich': 963248,
 'rich new': 815530,
 'new general': 662029,
 'general manager': 380646,
 'manager store': 593544,
 'store making': 933640,
 'making come': 590338,
 'come tomorrow': 179308,
 'tomorrow wishes': 1007275,
 'wishes self': 1095452,
 'self good': 857558,
 'good luck': 401333,
 'luck welp': 580695,
 'welp till': 1083788,
 'till next': 995564,
 'next time': 664732,
 'think': 983577,
 'brandon': 116020,
 'interest': 486859,
 'sure': 952000,
 'react': 785344,
 'anyways': 42722,
 'sweet': 956002,
 'dreams': 265565,
 'kids': 514006,
 'think brandon': 983859,
 'brandon lost': 116036,
 'lost interest': 574108,
 'interest sure': 487077,
 'sure react': 952695,
 'react anyways': 785347,
 'anyways sweet': 42970,
 'sweet dreams': 956075,
 'dreams kids': 265703,
 'lives': 564514,
 'floor': 349900,
 'every': 305007,
 'gets': 385822,
 'elevator': 282721,
 'goes': 396030,
 'stairs': 919926,
 'rains': 780928,
 'straight': 935222,
 'email': 284287,
 'questions': 776075,
 'guesses': 417051,
 'zero_machinek': 1125394,
 'hotmail': 459880,
 'com': 177614,
 'history': 448834,
 'teacher': 967907,
 'hes': 444835,
 'guy lives': 419251,
 'lives floor': 564656,
 'floor every': 349978,
 'every morning': 305331,
 'morning gets': 633992,
 'gets elevator': 385943,
 'elevator floor': 282730,
 'floor goes': 350002,
 'goes work': 396552,
 'work comes': 1102569,
 'comes back': 179668,
 'back goes': 68640,
 'goes floor': 396186,
 'floor gets': 349998,
 'gets stairs': 386210,
 'stairs rains': 919984,
 'rains goes': 780935,
 'goes straight': 396458,
 'straight floor': 935308,
 'floor email': 349970,
 'email questions': 284556,
 'questions guesses': 776200,
 'guesses zero_machinek': 417056,
 'zero_machinek hotmail': 1125395,
 'hotmail com': 459884,
 'com history': 177766,
 'history teacher': 449119,
 'teacher told': 968161,
 'told hes': 1005558,
 'hes god': 444870,
 'took': 1008465,
 'color': 176954,
 'quiz': 778259,
 'results': 812294,
 'yikes': 1122942,
 'check': 155155,
 'www': 1114962,
 'colorquiz': 177264,
 'existing': 313054,
 'situation': 887445,
 'unwilling': 1039212,
 'extend': 316637,
 'exert': 312410,
 'undue': 1034995,
 'effort': 279853,
 'possible': 747731,
 'exception': 310723,
 'sexual': 865320,
 'activity': 7449,
 'feels': 333451,
 'progress': 764503,
 'requires': 808506,
 'willing': 1091984,
 'able': 1318,
 'give': 390391,
 'prefer': 754221,
 'reasonable': 793068,
 'comfort': 180280,
 'security': 851199,
 'rather': 783645,
 'rewards': 814772,
 'greater': 411335,
 'ambition': 30577,
 'stress': 937176,
 'sources': 910234,
 'overcome': 698794,
 'feeling': 332517,
 'emptiness': 286770,
 'bridge': 118535,
 'gap': 377154,
 'separates': 860785,
 'others': 696070,
 'anxious': 39416,
 'experience': 314249,
 'aspects': 56180,
 'explore': 315900,
 'possibilities': 747577,
 'live': 563446,
 'fullest': 371097,
 'therefore': 979590,
 'resents': 809074,
 'restriction': 811913,
 'limitation': 557004,
 'imposed': 474936,
 'insists': 483544,
 'free': 362222,
 'unhampered': 1035861,
 'restrained': 811843,
 'characteristics': 153207,
 'believes': 88195,
 'receiving': 794273,
 'share': 867228,
 'neither': 658803,
 'properly': 766352,
 'understood': 1034586,
 'adequately': 10708,
 'appreciated': 46317,
 'compelled': 184705,
 'conform': 190463,
 'relationships': 801374,
 'leave': 538694,
 'without': 1096130,
 'sense': 859317,
 'emotional': 285796,
 'involvement': 491194,
 'less': 543008,
 'rely': 803136,
 'sympathy': 957784,
 'understanding': 1034351,
 'pent': 716721,
 'emotions': 286049,
 'certain': 148995,
 'egocentricity': 280376,
 'make': 587971,
 'quick': 776484,
 'offense': 680777,
 'realizes': 790021,
 'best': 90554,
 'things': 982015,
 'desired': 242527,
 'objective': 678019,
 'needs': 657711,
 'change': 151074,
 'circumstances': 165337,
 'permit': 721684,
 'relief': 802419,
 'seeking': 854605,
 'solution': 899752,
 'open': 691060,
 'allow': 22340,
 'hopes': 457367,
 'fulfilled': 370477,
 'actual': 7795,
 'problem': 760913,
 'restricted': 811892,
 'prevented': 757721,
 'progressing': 764613,
 'remove': 805388,
 'limitations': 557015,
 'fear': 329985,
 'may': 602304,
 'achieving': 5503,
 'leads': 536301,
 'relentless': 802283,
 'search': 848576,
 'satisfaction': 836196,
 'pursuit': 772167,
 'illusory': 472214,
 'meaningless': 606426,
 'activities': 7338,
 'took color': 1008601,
 'color quiz': 177091,
 'quiz results': 778326,
 'results yikes': 812491,
 'yikes check': 1122947,
 'check www': 155701,
 'www colorquiz': 1114987,
 'colorquiz com': 177265,
 'com existing': 177721,
 'existing situation': 313082,
 'situation unwilling': 887714,
 'unwilling extend': 1039214,
 'extend exert': 316642,
 'exert undue': 312414,
 'undue effort': 1034996,
 'effort possible': 279963,
 'possible exception': 747827,
 'exception sexual': 310781,
 'sexual activity': 865325,
 'activity feels': 7477,
 'feels progress': 333568,
 'progress requires': 764565,
 'requires willing': 808581,
 'willing able': 1091985,
 'able give': 1501,
 'give would': 391324,
 'would prefer': 1110065,
 'prefer reasonable': 754298,
 'reasonable comfort': 793076,
 'comfort security': 180346,
 'security rather': 851325,
 'rather rewards': 784104,
 'rewards greater': 814780,
 'greater ambition': 411338,
 'ambition stress': 30595,
 'stress sources': 937293,
 'sources wants': 910284,
 'wants overcome': 1066986,
 'overcome feeling': 698809,
 'feeling emptiness': 332664,
 'emptiness bridge': 286772,
 'bridge gap': 118570,
 'gap feels': 377170,
 'feels separates': 333586,
 'separates others': 860791,
 'others anxious': 696097,
 'anxious experience': 39426,
 'experience life': 314478,
 'life aspects': 547770,
 'aspects explore': 56199,
 'explore possibilities': 315929,
 'possibilities live': 747607,
 'live fullest': 563725,
 'fullest therefore': 371115,
 'therefore resents': 979740,
 'resents restriction': 809075,
 'restriction limitation': 811918,
 'limitation imposed': 557010,
 'imposed insists': 474943,
 'insists free': 483552,
 'free unhampered': 362826,
 'unhampered restrained': 1035863,
 'restrained characteristics': 811846,
 'characteristics believes': 153212,
 'believes receiving': 88239,
 'receiving share': 794317,
 'share neither': 867415,
 'neither properly': 658920,
 'properly understood': 766436,
 'understood adequately': 1034588,
 'adequately appreciated': 10709,
 'appreciated feels': 46327,
 'feels compelled': 333481,
 'compelled conform': 184710,
 'conform close': 190464,
 'close relationships': 171349,
 'relationships leave': 801448,
 'leave without': 539314,
 'without sense': 1096803,
 'sense emotional': 859430,
 'emotional involvement': 285869,
 'involvement feels': 491205,
 'feels receiving': 333575,
 'receiving less': 794297,
 'less share': 543490,
 'share one': 867427,
 'one rely': 688372,
 'rely sympathy': 803175,
 'sympathy understanding': 957815,
 'understanding pent': 1034450,
 'pent emotions': 716724,
 'emotions certain': 286072,
 'certain egocentricity': 149070,
 'egocentricity make': 280377,
 'make quick': 589024,
 'quick take': 776682,
 'take offense': 960621,
 'offense realizes': 680803,
 'realizes make': 790034,
 'make best': 588083,
 'best things': 91361,
 'things desired': 982336,
 'desired objective': 242536,
 'objective needs': 678040,
 'needs change': 657762,
 'change circumstances': 151159,
 'circumstances relationships': 165390,
 'relationships permit': 801485,
 'permit relief': 721700,
 'relief stress': 802489,
 'stress seeking': 937287,
 'seeking solution': 854653,
 'solution open': 899792,
 'open new': 691328,
 'new better': 661584,
 'better possibilities': 92719,
 'possibilities allow': 747580,
 'allow hopes': 22433,
 'hopes fulfilled': 457401,
 'fulfilled actual': 370478,
 'actual problem': 7906,
 'problem feels': 761073,
 'feels restricted': 333578,
 'restricted prevented': 811898,
 'prevented progressing': 757733,
 'progressing seeking': 764618,
 'solution remove': 899806,
 'remove limitations': 805418,
 'limitations actual': 557016,
 'problem fear': 761070,
 'fear may': 330183,
 'may prevented': 602992,
 'prevented achieving': 757722,
 'achieving things': 5514,
 'things wants': 983424,
 'wants leads': 1066944,
 'leads relentless': 536368,
 'relentless search': 802291,
 'search satisfaction': 848694,
 'satisfaction pursuit': 836219,
 'pursuit illusory': 772181,
 'illusory meaningless': 472216,
 'meaningless activities': 606427,
 'read': 785558,
 'someone': 900559,
 'blog': 102101,
 'creative': 211778,
 'world': 1105614,
 'people': 716820,
 'knit': 519665,
 'harry': 432067,
 'potter': 750541,
 'scarves': 842466,
 'stockinette': 931452,
 'stupid': 942135,
 'basic': 77376,
 'changes': 151963,
 'started': 922954,
 'knitting': 519704,
 'first': 344902,
 'huge': 464017,
 'fan': 325157,
 'believe': 87179,
 'person': 722038,
 'experienced': 314733,
 'entertainment': 293953,
 'via': 1053327,
 'reading': 786768,
 'sad': 830027,
 'hagrid': 421676,
 'sized': 888259,
 'slytherin': 893469,
 'scarf': 842330,
 'taught': 966976,
 'perfect': 719717,
 'fringe': 367618,
 'project': 764724,
 'keep': 509774,
 'finish': 343437,
 'deadline': 230558,
 'release': 801952,
 'ootp': 691017,
 'midnight': 617086,
 'released': 802122,
 'last': 530354,
 'summer': 947668,
 'entertain': 293780,
 'excited': 311128,
 'inspired': 483807,
 'learned': 537204,
 'craft': 209208,
 'always': 28498,
 'hard': 430560,
 'another': 36870,
 'solve': 899867,
 'math': 600453,
 'equations': 296298,
 'relating': 800933,
 'something': 901599,
 'tool': 1009228,
 'help': 442640,
 'homeless': 454069,
 'animals': 35425,
 'productive': 763163,
 'watch': 1069488,
 'reality': 789011,
 'shows': 875945,
 'many': 594676,
 'benefits': 89494,
 'beginning': 85335,
 'career': 140822,
 'sorry': 907485,
 'reasons': 793178,
 'thing': 980443,
 'columbo': 177518,
 'using': 1047676,
 'pattern': 713429,
 'else': 283339,
 'wrote': 1114269,
 'hmmm': 450264,
 'read someone': 786359,
 'someone blog': 900647,
 'blog going': 102452,
 'going creative': 397076,
 'creative understand': 211873,
 'understand world': 1034312,
 'world people': 1106372,
 'people would': 719084,
 'would knit': 1109717,
 'knit harry': 519672,
 'harry potter': 432118,
 'potter scarves': 750597,
 'scarves stockinette': 842479,
 'stockinette stupid': 931454,
 'stupid basic': 942169,
 'basic color': 77389,
 'color changes': 176989,
 'changes reason': 152096,
 'reason started': 792941,
 'started knitting': 923360,
 'knitting first': 519717,
 'first place': 345739,
 'place huge': 733452,
 'huge potter': 464304,
 'potter fan': 750560,
 'fan leads': 325277,
 'leads believe': 536313,
 'believe person': 87729,
 'person never': 722647,
 'never experienced': 660594,
 'experienced entertainment': 314753,
 'entertainment via': 294055,
 'via reading': 1053407,
 'reading sad': 787256,
 'sad start': 830344,
 'start knitting': 922508,
 'knitting knitting': 519719,
 'knitting huge': 519718,
 'huge hagrid': 464187,
 'hagrid sized': 421680,
 'sized slytherin': 888295,
 'slytherin scarf': 893470,
 'scarf taught': 842355,
 'taught make': 967049,
 'make perfect': 588915,
 'perfect stockinette': 720017,
 'stockinette color': 931453,
 'changes make': 152055,
 'make fringe': 588494,
 'fringe end': 367622,
 'end project': 288223,
 'project keep': 764837,

In [225]:
print(x_train_ct[6])
print(x_train_ct.shape)

  (0, 81366)	1
  (0, 547679)	1
  (0, 400277)	1
  (0, 756999)	1
  (0, 446324)	5
  (0, 959863)	1
  (0, 666772)	1
  (0, 311558)	2
  (0, 226723)	1
  (0, 456116)	1
  (0, 305007)	1
  (0, 780928)	1
  (0, 778259)	1
  (0, 754221)	1
  (0, 783645)	1
  (0, 102101)	2
  (0, 716820)	1
  (0, 344902)	1
  (0, 87179)	1
  (0, 722038)	1
  (0, 786768)	1
  (0, 594676)	1
  (0, 334225)	1
  (0, 634836)	1
  (0, 268826)	1
  :	:
  (0, 637783)	1
  (0, 517217)	1
  (0, 52290)	1
  (0, 81710)	1
  (0, 941502)	1
  (0, 780940)	1
  (0, 628908)	1
  (0, 589884)	1
  (0, 632551)	1
  (0, 475560)	1
  (0, 680256)	1
  (0, 190641)	1
  (0, 243127)	1
  (0, 949322)	1
  (0, 754289)	1
  (0, 667881)	1
  (0, 780704)	1
  (0, 1120372)	1
  (0, 58054)	1
  (0, 305392)	1
  (0, 722764)	1
  (0, 786828)	1
  (0, 102185)	1
  (0, 98102)	1
  (0, 821821)	1
(16750, 1128780)

In [226]:
print(x_test_ct[6])
print(x_test_ct.shape)

  (0, 24081)	1
  (0, 24407)	1
  (0, 27893)	1
  (0, 31980)	1
  (0, 32139)	1
  (0, 49823)	1
  (0, 49865)	1
  (0, 59061)	1
  (0, 59062)	1
  (0, 62620)	1
  (0, 76257)	1
  (0, 76263)	1
  (0, 88918)	1
  (0, 89128)	1
  (0, 90554)	1
  (0, 90949)	1
  (0, 107382)	1
  (0, 108208)	2
  (0, 109056)	2
  (0, 109290)	1
  (0, 109334)	1
  (0, 244739)	1
  (0, 269106)	1
  (0, 326094)	1
  (0, 331361)	2
  :	:
  (0, 795632)	1
  (0, 816812)	1
  (0, 818203)	1
  (0, 843899)	1
  (0, 844175)	1
  (0, 845825)	1
  (0, 854683)	1
  (0, 854878)	1
  (0, 903281)	1
  (0, 903648)	1
  (0, 908503)	1
  (0, 973472)	1
  (0, 978034)	1
  (0, 978345)	1
  (0, 982015)	2
  (0, 982957)	1
  (0, 983336)	1
  (0, 991376)	1
  (0, 1002166)	3
  (0, 1002862)	1
  (0, 1003485)	1
  (0, 1028171)	1
  (0, 1028297)	1
  (0, 1080518)	1
  (0, 1080865)	1
(8250, 1128780)

# Transform the labels - (7.5 points)

In [0]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
y_train_mlb=mlb.fit_transform(y_train)
y_test_mlb=mlb.transform(y_test)

In [228]:
print(y_train_mlb)
print(y_train_mlb.shape)

[[0 0 0 ... 1 1 0]
 [0 0 0 ... 0 0 1]
 [0 0 0 ... 1 1 0]
 ...
 [0 0 0 ... 0 0 1]
 [0 0 0 ... 0 0 1]
 [0 0 0 ... 1 0 0]]
(16750, 77)

In [229]:
print(y_test_mlb)
print(y_test_mlb.shape)

[[0 0 0 ... 0 0 1]
 [0 0 0 ... 0 1 1]
 [0 0 0 ... 1 0 0]
 ...
 [0 0 0 ... 0 1 1]
 [0 0 0 ... 0 0 1]
 [0 0 0 ... 0 0 1]]
(8250, 77)

In [230]:
list(mlb.classes_)
len(mlb.classes_)

77

# Choose a classifier - (5 points)

In [0]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
clf= LogisticRegression(solver='lbfgs',max_iter=500)
clf= OneVsRestClassifier(clf)

In [232]:
clf.fit(x_train_ct,y_train_mlb)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=500,
                                                 multi_class='auto',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [0]:
y_pred=clf.predict(x_test_ct)

In [234]:
y_pred.shape

(8250, 77)

In [242]:
y_test_mlb.shape

(8250, 77)

# Fit the classifier, make predictions and get the accuracy (5 points)

In [0]:
 from sklearn import metrics
from sklearn.metrics import average_precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [244]:
print("F1 Score: " + str(f1_score(y_test_mlb,y_pred,average='weighted')))

F1 Score: 0.4646929691986295

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1515: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  average, "true nor predicted", 'F-score is', len(true_sum)

In [245]:
print("Accuracy:" + str(metrics.accuracy_score(y_test_mlb,y_pred)))

Accuracy:0.13406060606060605

In [246]:
print("Precision: " + str(average_precision_score(y_test_mlb, y_pred,average='micro')))
print("Recall: " + str(recall_score(y_test_mlb,y_pred,average='micro')))

Precision: 0.31533822657351734
Recall: 0.389

In [247]:
y_pred

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 1, 1],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]])

In [0]:
y_pred_mlb=mlb.inverse_transform(y_pred)

In [0]:
y_test_inv=mlb.inverse_transform(y_test_mlb)

# Print true label and predicted label for any five examples (7.5 points)

In [250]:
print(y_pred_mlb[17])
print(y_test_inv[17])

('female', 'indUnk')
('38', 'Taurus', 'female', 'indUnk')

In [251]:
print(y_pred_mlb[27])
print(y_test_inv[27])

('34', 'Sagittarius', 'female', 'indUnk')
('34', 'Sagittarius', 'female', 'indUnk')

In [252]:
print(y_pred_mlb[57])
print(y_test_inv[57])

('15', 'Capricorn', 'indUnk', 'male')
('15', 'Capricorn', 'indUnk', 'male')

In [253]:
print(y_pred_mlb[117])
print(y_test_inv[117])

('female',)
('17', 'Scorpio', 'female', 'indUnk')

In [254]:
print(y_pred_mlb[207])
print(y_test_inv[207])

('male',)
('35', 'Aries', 'Technology', 'male')